.App {
  text-align: center;
  background-color: #333333; /* light gray background */
}

.nav-link-blue-bg {
  background-color: #234099 !important; /* changed from pruple */
  color: white !important; /* text color*/
  padding: 3px 10px !important; /* padding for better appearance */
  border-radius: 6px !important; /* rounded corners for a button-like appearance */
  margin: 0 4px; /* added horizontal margin */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.brand-name {
  color: rgb(251, 251, 251) !important;
}
.brand-name-secondary {
  color: #29c829 !important;
}

.navbar-custom-bg {
  background-color: #333333; /* dark gray background  for navbar and in HomeView, replaced className="floatingDiv"*/
  
}
.featuredStockBg {
  background-color: #726d76; /* dark gray background */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
